In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("/content/titanic-passengers_1.csv",sep=';')
# print(df.head())
print(df.isnull().sum())
df['Age'].fillna(value=df['Age'].mean(), inplace=True)

# print(df['Cabin'].value_counts())
# print(df['Embarked'].value_counts())

df['Cabin'].fillna("G6", inplace=True)
df['Embarked'].fillna("S", inplace=True)
print(df.isnull().sum())
print(df.head())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
   PassengerId Survived  Pclass                                         Name  \
0          343       No       2                   Collander, Mr. Erik Gustaf
1           76       No       3                      Moen, Mr. Sigurd Hansen
2          641       No       3                       Jensen, Mr. Hans Peder
3          568       No       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)
4          672       No       1                       Davidson, Mr. Thornton

      Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0    male  28.0      0      0      248740  13.0000     G6        S
1    male  25.0      0      0      348123   7.6500  F G73        S
2    male  20.0      0      0      350050   7.8542     G6        S
3  female  29.0      0      4      349909  21.0750     G6        S
4    male  31.0      1      0  F.C. 12750  52.0000    B71        S

In [2]:
# def plot_correlation_map( df ):

#     corr = df.corr()

#     s , ax = plt.subplots( figsize =( 12 , 10 ) )

#     cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )

#     s = sns.heatmap(

#         corr, 

#         cmap = cmap,

#         square=True, 

#         cbar_kws={ 'shrink' : .9 }, 

#         ax=ax, 

#         annot = True, 

#         annot_kws = { 'fontsize' : 12 }

#         )

# c = df.groupby(['Survived'])['Pclass'].mean()


# Title_Dictionary = {

#                     "Capt":       "Officer",

#                     "Col":        "Officer",

#                     "Major":      "Officer",

#                       "Dr":         "Officer",
#                     "Rev":         "Officer",

#                     "Jonkheer":   "Royalty",

#                     "Don":        "Royalty",

#                     "Sir" :       "Royalty",

#                    "Lady" :      "Royalty",

#                   "the Countess":      "Royalty",

#                     "Dona":      "Royalty",

#                     "Mme":        "Miss",

#                     "Mlle":       "Miss",

#                     "Miss" :      "Miss",

#                     "Ms":         "Mrs",

#                     "Mr" :        "Mrs",

#                     "Mrs" :        "Mrs",

#                     "Master" :    "Master"

#                     }
# Title_Dictionary_num = {

#                     "Officer": 1,

#                     "Royalty":  2,

#                     "Miss": 3,

#                     "Mrs": 4,

#                     "Master" : 5

#                     }
# print("******************")
# title_list = []
# for key in Title_Dictionary:
#   for name in df['Name']:
#     if key+"." in name:
#       title_list.append(Title_Dictionary[key])
# df['Title'] = title_list
# print(df['Title'])
# print("******************")
# print(df.head())
# df = df.drop(['Name'], axis=1)
# print(df.head())
# print(df['Title'])

******************
0      Officer
1      Officer
2      Officer
3      Officer
4      Officer
        ...
886     Master
887     Master
888     Master
889     Master
890     Master
Name: Title, Length: 891, dtype: object
******************
   PassengerId Survived  Pclass                                         Name  \
0          343       No       2                   Collander, Mr. Erik Gustaf
1           76       No       3                      Moen, Mr. Sigurd Hansen
2          641       No       3                       Jensen, Mr. Hans Peder
3          568       No       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)
4          672       No       1                       Davidson, Mr. Thornton

      Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked    Title
0    male  28.0      0      0      248740  13.0000    NaN        S  Officer
1    male  25.0      0      0      348123   7.6500  F G73        S  Officer
2    male  20.0      0      0      350050   7.8542    NaN        S  Officer
3  female  29.0      0      4      349909  21.0750    NaN        S  Officer
4    male  31.0      1      0  F.C. 12750  52.0000    B71        S  Officer
   PassengerId Survived  Pclass     Sex   Age  SibSp  Parch      Ticket  \
0          343       No       2    male  28.0      0      0      248740
1           76       No       3    male  25.0      0      0      348123
2          641       No       3    male  20.0      0      0      350050
3          568       No       3  female  29.0      0      4      349909
4          672       No       1    male  31.0      1      0  F.C. 12750

      Fare  Cabin Embarked    Title
0  13.0000    NaN        S  Officer
1   7.6500  F G73        S  Officer
2   7.8542    NaN        S  Officer
3  21.0750    NaN        S  Officer
4  52.0000    B71        S  Officer
0      Officer
1      Officer
2      Officer
3      Officer
4      Officer
        ...
886     Master
887     Master
888     Master
889     Master
890     Master
Name: Title, Length: 891, dtype: object

In [7]:
def preprocess_data(new_data):
    new_data['Age'].fillna(new_data['Age'].mean(),inplace=True)
    new_data.replace({'Sex':{'male': 1,'female':0}},inplace=True)
    new_data['Cabin']=new_data.Cabin.fillna('G6')
    new_data.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
    return new_data
data=preprocess_data(df)
print(data)

     PassengerId  Survived  Pclass  \
0            343         0       2
1             76         0       3
2            641         0       3
3            568         0       3
4            672         0       1
..           ...       ...     ...
886           10         1       2
887           61         0       3
888          535         0       3
889          102         0       3
890          428         1       2

                                                  Name  Sex        Age  SibSp  \
0                           Collander, Mr. Erik Gustaf    1  28.000000      0
1                              Moen, Mr. Sigurd Hansen    1  25.000000      0
2                               Jensen, Mr. Hans Peder    1  20.000000      0
3          Palsson, Mrs. Nils (Alma Cornelia Berglund)    0  29.000000      0
4                               Davidson, Mr. Thornton    1  31.000000      1
..                                                 ...  ...        ...    ...
886                Nasser, Mrs. Nicholas (Adele Achem)    0  14.000000      1
887                              Sirayanian, Mr. Orsen    1  22.000000      0
888                                Cacic, Miss. Marija    0  30.000000      0
889                   Petroff, Mr. Pastcho ("Pentcho")    1  29.699118      0
890  Phillips, Miss. Kate Florence ("Mrs Kate Louis...    0  19.000000      0

     Parch      Ticket     Fare  Cabin Embarked
0        0      248740  13.0000     G6        S
1        0      348123   7.6500  F G73        S
2        0      350050   7.8542     G6        S
3        4      349909  21.0750     G6        S
4        0  F.C. 12750  52.0000    B71        S
..     ...         ...      ...    ...      ...
886      0      237736  30.0708     G6        C
887      0        2669   7.2292     G6        C
888      0      315084   8.6625     G6        S
889      0      349215   7.8958     G6        S
890      0      250655  26.0000     G6        S

[891 rows x 12 columns]

In [8]:
#importing relevant libraries
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#features extraction
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7541899441340782

In [9]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy

iris = datasets.load_iris()

data=pd.DataFrame({
'sepal length': iris.data[:,0],
'sepal width': iris.data[:,1],
'petal length': iris.data[:,2],
'petal width': iris.data[:,3], 
'species': iris.target
})

X=data[['sepal length', 'sepal width', 'petal length', 'petal width']] #features
y=data['species']  #target
x_train, x_test, y_train, y_test= train_test_split(X, y, test_size=0.3) #splitting data with test size of 30%

In [10]:
clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

Accuracy: 0.9555555555555556